<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut hendrerit mauris. Mauris et porttitor mi, a lacinia diam. Nulla venenatis id purus sit amet gravida. Sed sed semper ligula. Pellentesque dictum, ex eget interdum scelerisque, est quam rhoncus leo, et hendrerit ligula risus sit amet ante. Maecenas placerat quis tortor eu pharetra. Quisque ornare lacus nibh, sit amet lacinia tortor commodo non. Suspendisse imperdiet justo in felis gravida, semper viverra libero dictum. Suspendisse eleifend risus nisi, et fermentum ipsum iaculis at. Cras id faucibus libero.</p>
    </div>
</body>
</html>